@use 'styles/foundation' as *;

@layer components {
  .c-muscle-group-badge-list {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-xs;
    align-items: center;

    &__more {
      padding: 2px $spacing-xs;
      border-radius: $radius-full;
      color: var(--text-secondary);
      font-size: $font-size-xs;
      font-weight: $font-weight-semibold;
    }
  }
}
